---
import ContentCard from './ContentCard.astro';
import { Card as ShadcnCard } from './ui/card';
// import { SquareArrowOutUpRight } from 'lucide-react';

const { title, body, colSpan, rowSpan, href, colorText } = Astro.props;
---

<ShadcnCard
  className={`card-animate  transform-y-[-40%] align-start perspective-1200 group group relative col-span-1 h-auto w-full flex-none transform justify-start overflow-hidden p-6 shadow-lg transition duration-75 ease-in-out ${
    colSpan || 'md:col-span-2'
  } ${rowSpan || ''} ${href ? 'cursor-pointer hover:border-primary' : ''}`}
>
  {
    href ? (
      <a href={href} class={`block h-full w-full ${colorText || ' '}`}>
        <ContentCard title={title} body={body}>
          <slot />
        </ContentCard>
      </a>
    ) : (
      <ContentCard title={title} body={body}>
        <slot />
      </ContentCard>
    )
  }
</ShadcnCard>
